<div class="main-nav-wrapper">
    <div class="navigation-module">
        <div class="logo">
            <img src="./assets/images/logo.png" />
        </div>
        <div class="navigation">
            <ul>
                <li>Demo</li>
                <li>Features</li>
                <li>Pricing</li>
            </ul>
            <div class="crazy-flying-element" [style.marginLeft.px]="25"></div>
        </div>
    </div>
    <div class="auth-module">
        <div class="user-authorized">
            <!-- user menu -->
        </div>
        <div class="user-unauthorized">
            <ul>
                <li><app-button text="Sign in" [buttonStyle]="buttonTypes.Text" icon="login" [iconLeft]="true"></app-button></li>
                <li><app-button text="Sign up" [buttonStyle]="buttonTypes.Primary" icon="person_add" [iconLeft]="true"></app-button></li>
            </ul>
        </div>
    </div>
</div>
