@use 'src/app/constant/colors';

.main-nav-wrapper {
  width: calc(100vw - 100px);
  max-width: 1600px;
  background: colors.$white;
  padding:20px 50px;
  box-shadow: 15px 0 70px 0 rgba(0,0,0,0.05);;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin: 10px 20px;

  .navigation {
    ul {
      display: flex;
      list-style: none;
    }
  }

  .auth-module {

    .user-authorized {
      display: none;
    }

    .user-unauthorized {
      ul {
        display: flex;
        list-style: none;
      }
    }
  }
}
