<div class="main-nav-wrapper">
    <div class="logo">
        <img src="" />
    </div>
    <div class="navigation">
        <ul>
            <li>Nav 1</li>
            <li>Nav 2</li>
            <li>Nav 3</li>
        </ul>
    </div>
    <div class="auth-module">
        <div class="user-authorized">
            <!-- user menu -->
        </div>
        <div class="user-unauthorized">
            <ul>
                <li><app-button text="Sign in" [buttonStyle]="buttonTypes.Text"></app-button></li>
                <li><app-button text="Sign up" [buttonStyle]="buttonTypes.Primary"></app-button></li>
            </ul>
        </div>
    </div>
</div>
