$white: #ffffff;
$lightBlue: #C2FFFC;

$primaryRed: #FF6363;
$primaryBlue: #4FBDBA;
$primaryOrange: #FFAB76;

$blue-1: #072227;
$blue-2: #35858B;
$blue-3: #4FBDBA;
$blue-4: #faffff;

$blueL-1: #D3DEDC;
$blueL-2: #92A9BD;
$blueL-3: #7C99AC;
$blueL-4: #FFEFEF;
$blueL-5: #fff9f9;

$silver-1: #f8f8f8;
$silver-2: #eaeaea;
$silver-3: #dadada;
$silver-4: #b0b0b0;
$silver-5: #8d8d8d;


