@use 'src/app/constant/colors';

.login-wrapper {
  width: 100vw;
  max-width: 1400px;
  display: flex;
  align-items: center;

  h2 {
    font-size: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 12px;
    }
  }

  .description {
    color: gray;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
  }

  .image-wrapper {
    width: calc(100% - 400px);

    img {
      width: 100%;
      max-width: 800px;
      height: auto;
    }
  }

  .form-wrapper {
    width: 400px;
    padding: 50px;
    background: colors.$white;
    border-radius: 15px;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.05);

    .forgot-password {
      color: gray;
      font-size: 14px;
      font-weight: 300;
      margin: 8px 0;
    }
  }
}
